 /* overall page, like layer 1 */
body {
    background-color: #FFF79E;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #FCB756;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fcab32; 
  color: black; 
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #fdce00;
  color: white;
}

 /* creating column on the left */
.column {
  float: left;
  padding: 10px;
}
.left {
  width: 30%;
  background-color: #FFE88A;
  padding: 10px;
}
.right {
  width: 70%;
  padding: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
