body {
    background-color: #fdf6b6;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #ff723fc7;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #efefef;
  color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #fdce00;
  color: white;
}



.column {
  float: left;
  padding: 10px;
}
.left {
  width: 30%;
  background-color: #fdcf00ba;
}
.right {
  width: 70%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}