 /* overall page, like layer 1 */
body {
    background-color: #FFF79E;
}
* {
  box-sizing: border-box;
}
/* Add a background color to the top navigation */
.topnav {
  background-color: #FCB756;
  overflow: auto;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fcab32; 
  color: black; 
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #fdce00;
  color: white;
}

 /* creating column on the left */
.column {
  float:left;
  overflow:hidden;
}
.left {
  width: 40%;
  padding: 10px;
  
}
.right {
  width: 60%;
  padding: 10px;
}
.box {
  width:100%;
  padding:10px;
  margin:10px;
}
pre{
height:200px;
overflow:scroll;
color: white;
background-color:black;
}


div.absolute {
  overflow:scroll;
  position: absolute;
  top:450px;
  left:12px;
  width:30%;
  height:200px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
